AI_GATEWAY_API_KEY=xxxxxxxxx

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=xxxxxxxxx
CLERK_SECRET_KEY=xxxxxxxxx

CONVEX_DEPLOYMENT=xxxxxxxxx
NEXT_PUBLIC_CONVEX_URL=xxxxxxxxx
NEXT_PUBLIC_CONVEX_SITE_URL=xxxxxxxxx

# Add these to your Convex Environment Variables (dashboard or `npx convex env set`)
CLERK_JWT_ISSUER_DOMAIN=xxxxxxxxx
CLERK_WEBHOOK_SECRET=xxxxxxxxx